---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import type { ProjectFrontmatter } from "../types/project.ts";

const modules = import.meta.glob("./projects/*.mdx", { eager: true });

const projects: ProjectFrontmatter[] = Object.entries(modules)
  .map(([path, mod]: any) => {
    const slug = path.split("/").pop().replace(".mdx", "");
    return {
      ...mod.frontmatter,
      image: mod.image,
      url: `/projects/${slug}`,
    };
  })
  .sort((a, b) => (b.order ?? 0) - (a.order ?? 0));

const categoryOrder = ["personal", "prixa", "client", "other"]; 

// Extract unique categories and sort according to custom order
const categories = [...new Set(projects.map((p) => p.category))]
  .sort((a, b) => {
    const indexA = categoryOrder.indexOf(a);
    const indexB = categoryOrder.indexOf(b);
    // If not in categoryOrder, put at the end
    return (indexA === -1 ? 999 : indexA) - (indexB === -1 ? 999 : indexB);
  });
---


<BaseLayout title="Projects | Akal Man Nakarmi" description="A curated collection of my web development work, featuring full-stack applications, automation tools, dashboards, and CMS platforms built with Django, FastAPI, React, Flutter, PostgreSQL, and more. Explore personal projects and real-world solutions I’ve designed and developed.">
  <section class="xl:max-w-7xl max-w-5xl mx-auto py-16 px-4 sm:px-8">

    <h1 class="text-4xl font-heading text-pandaRed mb-6 text-center">Projects</h1>

    <p class="text-lg text-center text-pandaBrown mb-12 max-w-3xl mx-auto">
      A collection of things I’ve built, tweaked, and learned from — spanning web apps, automation scripts, and riced setups.
    </p>

    {categories.map((cat) => {
      const catProjects = projects.filter((p) => p.category === cat);

      return (
        <section>
          <h2 class="text-2xl font-heading text-pandaRed mb-4">
            {cat.charAt(0).toUpperCase() + cat.slice(1)} Projects
          </h2>

          <div class="grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8 mb-12">
            {catProjects.map((proj) => (
              <ProjectCard {...proj} link={proj.url} />
            ))}
          </div>
        </section>
      );
    })}
  </section>
</BaseLayout>

